
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
ul{
    list-style: none;
}

.navbar{
    width: 100%;
    height: 100px;
    background-color: rgb(249, 251, 251);
    padding: 30px;
}
.navbar .left{
    float: left;
    display: inline;
}
.navbar .right{
    float: right;
    display: inline;
}
.navbar .right ul li{
    display: inline;
}


/* home */
.home{
    width: 100%;
    height: 100vh;
    background-image: url("/images/home-bg-1.jpg");
    background-size: cover;
    
}
.home .top h5{
    display: in;
}