@import url('https://fonts.googleapis.com/css2?family=Anton&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Sorts+Mill+Goudy:ital@0;1&family=Tajawal:wght@200;300;400;500;700;800;900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Yellowtail&family=Zen+Dots&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: "League Spartan", sans-serif;
}
ul{
    list-style: none;
}

.navbar{
    width: 100%;
    height: 100px;
    background-color: rgb(249, 251, 251);
    padding: 30px;
}
.navbar .left{
    float: left;
    display: inline;
}
.navbar .right{
    float: right;
    display: inline;
}
.navbar .right ul li{
    display: inline;
}


/* home */
.home{
    width: 100%;
    height: 100vh;
    background-image: url("/images/home-bg-1.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
}
.home .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
}
.home .top h5{
    display: inline;
    color: #00a05d;
    font-size: 18px;
}
.home .top i{
    color: #f65129;
}
.home .middle h1{
    color: white;
    font-size: 60px;
    margin: 20px 0;
    line-height: 1.2;
}
.home .bottom {
    background: white;
    border-radius: 15px;
    padding: 40px;
    display: flex;
}
.home .bottom .l,
.home .bottom .r{
    margin: auto;
}
.home .bottom .r,
.home .bottom .btn{
    padding-left: 10px;
}
.home .bottom button{
    background: #f65129;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
}


/* about */

.about{

}
.about .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 100px auto;
}
.about .left{
    width: 40%;
    height: 280px;
}
.about .left h5{
    color: #00a05d;
    font-size: 18px;
}
.about .middle{
    width: 25%;
    height: 250px;
}
.about .middle img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}
.about .right{
    width: 30%;
    height: 350px;
}
.about .right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}
.about .left h1, h2{
    color: #6c757d;
}
.about .left h1{
    font-size: 50px;
    font-weight: 600;
}
.about .left h2{
    font-size: 40px;
    font-weight: 500;
    margin: 20px 0;

}
.about .left span{
    color: black;
}
.about .left p{
    color: #717275;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
}

/* open */
.open{
    width: 100%;
    height: 100vh;
    background-image: url('/images/open-bg.jpg');
    background-size: cover;

}
.open .content{
    background-color: #e9eaeb;
    border-top: 25px solid #f65129;
    border-radius: 20px;
    width: 40%;
    padding: 30px 50px;
}
.open h1{
    font-size: 50px;
    font-weight: 600;
}
.open .box{
    display: flex;
    align-items: baseline;
    margin-top: 30px;
}
.open .box i{
    padding-right: 16px;
    font-size: 25px;
    color: #504f4f;
}
.open .box .day{
    color: #838383;
    font-size: 18px;
    font-weight: 400;
}
.open .box .clock{
    font-size: 18px;
    font-weight: 700;
    color: #4a4949;
}
.open .box .s{
    padding: ;
}